body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #032955;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #032955;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-count {
    text-align: center;
    color: #e3ecec;
}

h1, h2 {
    text-align: center;
    color: #e3ecec;
}

ul {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.user-details, .team-list {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #e3ecec;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #e3ecec;
    border-radius: 4px;
    box-sizing: border-box;
}
.team-input {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.team-input label {
    flex: 0 0 30px;
    margin-right: 10px;
    text-align: right;
}
.team-input input {
    flex-grow: 1;
}
button {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}
button:hover {
    background-color: #0056b3;
}
.success-message {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 20px;
}